<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <title>Notification_mailer.html</title>
    <%#= stylesheet_link_tag "notification_mailer" %>
    <link rel="stylesheet" href="/assets/notification_mailer.css?jHUy87ybhjs876" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>

